*{
    margin: 0;
    padding: 0;
    font-family: 'Caveat Brush', cursive,
        "Noto Sans Japanese";
  　
}

html, body{
    width: 100%;
    height: 100%;
    background: #FFFFFB; 
}

#header{
    width: 100%;
    height: 100%;
    background-image: url(img/header.png);
    background-size: cover;
}

h1{
    color: #516c7d;
    text-align: center;
}


/*
.header img{
    width: 100%;
    height: 100%;
    background: #fff url(header.png) 0 0 no-repeat;
    background-size: cover; 
}

*/
.animation1{
    position: relative;
    width: 420px;
    float: left;
    margin-bottom: 10px;
    overflow: hidden;
}

.animation1 .caption{
    position: absolute;
    background: rgba(46,167,224,0.4);
    height: 420px;
    width: 420px;
    margin-left: 10px;
    padding-top: 210px;
    overflow: hidden;
    
    /*移動をスムーズにする*/
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    /* ↓ 透明にする*/
    opacity: 0;
}

.animation1 .caption h2{
    color: white;
    font-size: 15px;
    text-align: center;
}

.animation1 .caption h3{
    color: white;
    font-size: 18px;
    text-align: center;
}

.animation1:hover .caption{
    opacity: 1;
}

.animation1 img{
    float: left;
    width: 420px;
    margin-left: 10px;
}

